@font-face{
    font-family: 'gotham-ultra';
    src:url('../../public/fonts/Gotham-Ultra.otf')
}
@font-face{
    font-family: 'gotham-medium';
    src:url('../../public/fonts/Gotham-Medium.otf')
}
@font-face{
    font-family: 'gotham-light';
    src:url('../../public/fonts/Gotham-Light.otf')
}