
// COLOR PALETTE
//SITE
$clr1: #f5f5f5;
$clr2: #ffc5a1;
$clr3: #00c482;
$clr4: #f6f5edbe;
$clr5: #fff;
//TAGS
$clrTag1:#5588a3;
$clrTag2:#e2a4bc;
$clrTag3:#f6da63;
$clrTag4:#0c9463;
$clrTag5:#da2d2d;

// LAYOUT BREAKPOINTS


$break-mobile: 540px;
$break-narrow: 740px;
$break-normal: 985px;
$break-wide: 1300px;


